---
services:
  aws.greengrass.LogManager:
    configuration:
      periodicUploadIntervalSec: 10
      logsUploaderConfiguration:
        componentLogsConfiguration:
          - componentName: 'UserComponentB'
            minimumLogLevel: 'INFO'
            diskSpaceLimit: '25'
            diskSpaceLimitUnit: 'MB'
            deleteLogFileAfterCloudUpload: 'true'
            multiLineStartPattern: "[^\\s]"
  main:
    lifecycle:
      install:
        all: echo All installed
    dependencies:
      - aws.greengrass.LogManager
