name: Java CI

on:
  push:
    branches:
      - master
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: [self-hosted, Linux, greengrass]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          # Only restore maven cache for this exact commit. If we start incrementing the version
          # of our Java SDK, then we can relax this to just the "hashFiles" and exclude "sha"
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}
      - run: rm -rf /tmp/*
        continue-on-error: true
      - name: Build with Maven
        run: mvn -ntp -U clean verify
      - name: Upload Failed Test Report
        uses: actions/upload-artifact@v1.0.0
        if: failure()
        with:
          name: Failed Test Report
          path: target/surefire-reports
      - name: Upload Coverage
        uses: actions/upload-artifact@v1.0.0
        if: always()
        with:
          name: Coverage Report
          path: target/jacoco-report
      - name: Convert Jacoco unit test report to Cobertura
        run: python3 .github/scripts/cover2cover.py target/jacoco-report/jacoco.xml src/main/java > target/jacoco-report/cobertura.xml
      - name: cobertura-report-unit-test
        uses: shaguptashaikh/cobertura-action@master
        continue-on-error: true
        with:
          # The GITHUB_TOKEN for this repo
          repo_token: ${{ github.token }}
          # Path to the cobertura file.
          path: target/jacoco-report/cobertura.xml
          # If files with 100% should be skipped from report.
          skip_covered: false
          # Minimum allowed coverage percentage as an integer.
          minimum_coverage: 65
          # Show line rate as specific column.
          show_line: true
          # Show branch rate as specific column.
          show_branch: true
          # Use class names instead of the filename
          show_class_names: true
          # Use a unique name for the report and comment
          report_name: Unit Tests Coverage Report

  publish:
    needs: build
    runs-on: [self-hosted, Linux, greengrass]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - name: Checkout Private Action
        uses: daspn/private-actions-checkout@v2
        with:
          actions_list: '["aws/aws-greengrass-component-upload-action@master"]'
          checkout_base_path: ./.github/actions
          ssh_private_key: ${{ secrets.COMPONENT_UPLOAD_ACTION_PRIVATE_KEY }}
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Publish with Maven
          run: mvn -ntp package -DskipTests
      #- run: mkdir -p target/artifacts && cp target/LogManager.jar target/artifacts/aws.greengrass.logManager.jar
      #     - uses: ./.github/actions/aws-greengrass-component-upload-action
      #     name: Upload to GCS
      #     env:
      #       AWS_REGION: us-east-1
      #     with:
      #       recipePath: recipe.yaml
      #       artifactDirectoryPath: target/artifacts
      #       endpoint: https://nztb5z87k6.execute-api.us-east-1.amazonaws.com/Gamma
      #       autoBumpVersion: true